/* 修改 cover 图片格式 */
.post_cover.left,
.post_cover.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_cover.left a,
.post_cover.right a {
    display: inline-block;
    height: 80%;
}

/* @font-face{
  font-family:"myFont";
  src:
    url("./fonts/my-font.woff2") format("woff2"),
    url("./fonts/my-font.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
} */

body{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Lato,Roboto,"PingFang SC",sans-serif;
}